body {
    font-family: 'Times new Roman', sans-serif;         /* Change to a modern font */
    margin: 0;                                           /* Remove default margin */
    padding: 0;                                           /* Add padding around the body */
    background-color: #fafdfd;                               /* Soft background color */
}


